<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="/">
  <link rel="stylesheet" href="main.css">
  <title><%= title %></title>
</head>

<body>
    <div class="container" >
        <h2>Server rendered EJS File</h2>
        <p>This is src\javascripts\views\layout.ejs</p>
        <p>Since nodemon is installed when server code changes, the server is automatically restarted.</p>
        <%- include("partials/_header") %>

        <% if (content) {%>
          <%- include(content) %>
        <% }else{ %>
          <p>Nothing to display</p>
        <% } %> 
        
        <%- include("partials/_footer") %>
    </div>
    <script src="main.bundle.js"></script>
</body>
 
</html>